*{
margin: 0px;
padding: 0px;
box-sizing: border-box;


}

a{
    text-decoration: none;
    color: white;
}

header {
    /*flex box */


   
   
   width: 100%;
   
}

header div{
    /*flex box */


    background: #0f2027;
   height: 50px;
   width: 100%;
   
}



header ul{
    /*flex box */
    position: relative;
    top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;


}

header ul li{
    margin-right: 30px;
}
header ul li a{
    padding: 6px 15px;
    border-radius: 20px;
}
header ul li a:hover ,.activ{
    background-color: white;
    color: rgb(31, 1, 48);
}

@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300&display=swap');

li{


    font-family: 'Changa', sans-serif;
}


.hdfive{
    
    background: rgb(42, 42, 165);
    text-align: center;
    color: white;
}


.five{
    background: linear-gradient(to right , #2c5364 , #0f2027);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}



.slider{
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;
}

@keyframes rotate{
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }

    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}



.slider span{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg))translateZ(350px);
    
}

.slider span img{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
    transition: 2s;    
}




.slider span img:hover{
    transform: translateY(-50px) scale(1.2);
}

.slider span a{
    display: block;
    background: #0f2027;
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 120%;
    left: 5px;
    width: 90%;
   text-decoration: none;
    border-radius: 20px;
    object-fit: cover;
    transition: 2s;    
}



footer{

    background: rgb(52, 42, 165);
    width: 100%;
    height: 200px;
    color: white;
}

footer h2{
    
    text-align: center;
    text-decoration: solid 1px white;
    padding: 10px;
}

footer .social {
   
    text-align: center;
    font-size: 30px;
    text-align: center;
   
}

footer .social a{
   
    
    
    margin: 5px 10px;
}

footer .social a:hover{
   
    color: skyblue;
}

footer p{
    margin-top: 5px;
    text-align: center;
    
}

footer img{

  
   border-radius: 50%;
   width: 50px;
   height: 50px;
}
footer .imgf{
  margin-top: 5px;
  display: block;
  text-align: center;
    
 }